* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


.header {
  

  background-color: #00093c;
  display: flex;
  align-items: center;

  justify-content: center;
  
  header {
    
    white-space: nowrap;
  text-align: center;
  height: 100px;
  width: 100%;
}
  
  
.header_logo {
  align-items: center;
  text-align: center;
  justify-content: center;
  white-space: nowrap;

  .header_img {
    width: 100px;
    margin-top: 12px;
  }
}
 
  .header_btn1 {
    
    font-size: 17px;
    text-decoration: none;
    background-color: #00093c;
    color: white;
    border: none;
    
    .header_logo_mini_burger_menu {
      margin-right: 5px;
      width: 20px;
      height: 15px;
      margin-left: 60px;
      align-items: center;
      text-align: center;
      justify-content: center;
    }

  }
  .header_a2 {
    color: #ffffff;
    font-size: 17px;
    margin-left: 40px;
    text-decoration: none;

  }

  .header_a3 {
    color: #ffffff;
    font-size: 17px;
    margin-left: 40px;
    text-decoration: none;
    

    .header_logo_location {
      margin-right: 7px;  
    }

    .arrow {
      margin-left: 10px;
    }

  }
}



