.main_text {
  align-items: center;
  text-align: start;
  justify-content: center;
  width: 1180px;
  background-color: gray;


  .main_p {
    font-size: 44px;
    font-weight: 700px;
    font-style: Montserrat;
    margin-top: 36px;
  }


  .btn_age_sec {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
  }
}

