.main_text {
  align-items: center;
  text-align: start;
  justify-content: center;
  width: 1180px;
//   background-color: gray;

  .main_p {
    font-size: 44px;
    font-weight: 900px;
    font-style: Montserrat;
    margin-top: 36px;
  }

  .age_selection {
    margin-top: 55px;
    
    
    
    display: flex;
    margin-left: 20%;

    .age_btn {
        background-color: #fff;
        
      display: flex;
      width: 127px;
      border: 42px;


      .age_btn_p {
        margin-top: 8px;
        color: black;
        font-size: 16px;
      }

      p {
        margin-top: 5px;
        font-size: 10px;
        color: #4f4f4f;
      }
    }
  }
}
